<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Numerology App</title>
</head>
    <body>
        <div class="well">
           <p><%= @message %></p> 
        </div>
    </body>
</html>